
/*  
body{
    background-color: rgba(5, 101, 255, 0.2);
}   */

#first_div{
    height: 200px;
    width: 1000px;
    background: linear-gradient(to right, gold, green,pink, blue);
    background-size: cover;
}

#second_div{
    height: 200px;
    width: 800px;
    background: linear-gradient(to top, gold, green,pink, blue);
    background-size: cover;
}

#third_div{
    height: 200px;
    width: 600px;
    background: linear-gradient(to bottom right, gold, green,pink, blue);
    background-size: cover;
}

#fourth_div{
    height: 200px;
    width: 1000px;
    background: radial-gradient(gold, green,pink, blue);
}

#fifth_div{
    height: 200px;
    width: 800px;
    background: radial-gradient(gold 20%, green 30%,pink 40%, blue 60%);
}
/* 
body{
    background: url("https://media.istockphoto.com/photos/rural-landscape-in-late-summer-picture-id1224621364?b=1&k=6&m=1224621364&s=170667a&w=0&h=a6mw3-1kUVPgg78CALQUoy4nsAhlAoC5JrQ4o2IEwiY=");
} */
/* 
body{
    background-image: url("https://media.istockphoto.com/photos/rural-landscape-in-late-summer-picture-id1224621364?b=1&k=6&m=1224621364&s=170667a&w=0&h=a6mw3-1kUVPgg78CALQUoy4nsAhlAoC5JrQ4o2IEwiY=");
    background-repeat: no-repeat;
    background-size: cover;
}  */

#title{
    color: #f5ad05;
}
.subtitle{
    color: #69b505;
}
.title{
    color: blueviolet;
}
.list-item{
    color: #26dded;
}
.link{
    color: #ff051e;
}
.form-input{
    color: #0f82a8;
}
.para-text{
    color: #d56ad9;
}
/* 
.subtitle{
    color: crimson;
} */

#contact-us{
    color: darkgreen;
}

h2:hover{
    color: red; 
}

.about-me{
    color: darkorchid;
}
/* 
.secondheader{
    color: deepskyblue;
} */

h2[class=secondheader]{
    color: deepskyblue;
}
#services{
    color: gold;
}
/* 
li:first-child{
    color: cornflowerblue;
}

li:nth-child(2){
    color: darkgoldenrod;
}

li:nth-child(3){
    color: darkred;
}

li:last-child{
    color: deeppink;
}

li:only-child{
    color: indigo;
} */

/* google-link:link{
    color: lawngreen;
}

google-link:visited{
    color: red;
} */
 
/* 
a:link{
    color: #FF0000;
}


a:visited{
    color: #00FF00;
}


a:hover{
    color: #FF00FF;
}


a:active{
    color: #0000FF;
}  */

/* Advanced Selector */
ul + h4{
    border: 4px solid red;
    color: green;
}

h2 + a{
    color:gold;
}

textarea ~ button{
    color: red;
}
/* Targetting direct child(li) */
ol > li {
    color: red;
}
/* Targetting descendent(li) of ul */
ul li {
    color: green;
}

img[src^="../css-course-content-master"]{
    border: 3px solid red;
}

h2[class~=special-sevice]{
    background: gold;
}